$primary: #009000;
$secondary: #D2F7D2;
$activeMenu: #009000;
$black: #1C1C1C;
$white: #ffffff;
$grey: #c8cbd0;
$lightGrey: #f4f5f7;
$border: #ebeff3;
$iconColor: #b9c1d3;
$iconFontSize: 22px;
$link: #0170fe;
$padding: 24px;
$fontSize: 16px;
$borderRadius: 8px;