*, html, body, h1, h2, h3, h4, h5, h6, div, p, span, a {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.section-title {
    font-family: Nunito;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.4px;
}

.small-container {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}